.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  z-index: 1001;
  color: #8613E0;
}

.main-page-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh; /* Fallback for browsers that do not support Custom Properties */
  width: 100vw;
}

.main-text, .start-link, .logo {
  margin: 30px;
}

.main-text {
  text-align: center;
  font-size: 30px;
  color: #FF7A00;
}

.start-button {
  height: 58px;
  width: 184px;
  font-size: 20px;
}
.start-button {
  font-family: "Geometria Medium", sans-serif;
  border-radius: 50px;
  border: none;
  box-shadow: 4px 8px 8px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 4px 8px 8px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 4px 8px 8px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: #FFFFFF;
  background-color: #8613E0;
  transition: background-color 0.5s ease;
}
.start-button:hover {
  background-color: #FF7A00;
}
.start-button:disabled {
  background-color: rgb(204, 184, 219);
  cursor: default;
}

.sign-in-button-container {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.sign-in-button_main-page {
  font-size: 18px;
  width: 130px;
  height: 40px;
}
.sign-in-button_main-page {
  font-family: "Geometria Medium", sans-serif;
  border-radius: 50px;
  border: 2px solid #8613E0;
  cursor: pointer;
  background-color: transparent;
  color: #8613E0;
  transition: background-color 0.5s ease;
}
.sign-in-button_main-page:hover {
  background-color: #8613E0;
  color: #FFFFFF;
}

.sign-in-link {
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 10%;
}

.main-page-container {
  position: absolute;
  z-index: 1000;
}

.animation-area {
  background: #FFFFFF;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.squares {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.squares li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgb(204, 184, 219);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.squares li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.squares li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.squares li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.squares li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.squares li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.squares li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.squares li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.squares li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.squares li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.squares li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 30%;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
  }
}

/*# sourceMappingURL=MainPage.css.map */
