$font-stack: Geometria, sans-serif;
$orange-color: #FF7A00;

.main-page-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  font-family: $font-stack;
  font-size: 32px;
  color: $orange-color;
  margin: 0;
}