@import "./../../vars";

//.container {
//  width: 100vw;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//}

.app-bar {
  z-index: 1000;
  height: $app-bar-height;
  //background: #fff;
}

.drawer {
  width: 150px;
  flex-shrink: 0;
}

.drawer-paper {
  width: 150px;
}

.content {
  flex-grow: 1;
  //padding: theme.spacing(3)
}

.avatar {
  height: 110px;
  width: 100px;
  flex-shrink: 0;
  flex-grow: 0;
  margin-top: 20px;
}

.logo-home {
  //display: flex;
  //justify-content: center;
  //align-items: center;
  margin: 0 auto;
}

//.loader {
//  //position: fixed;
//  z-index: 1001;
//  //right: 80%;
//  //height: 31px;
//  //width: 31px;
//  //left: 50%;
//  //top: 35%;
//  //margin: 0 auto;
//}

.drawer-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

//.icon {
//  width: 24px;
//  height: 24px;
//}

//.manage-account-icon {
//  @extend .icon;
//}
//
//.notes-rounded-icon{
//  @extend .icon;
//}
//
//.logout-icon {
//  @extend .icon;
//}

.icon {
  color: $violet-color;
}

.icon-active {
  color: $orange-color;
}

.icon-gray {
  color: $gray-text-color;
}