@import "./../../vars";

.app-bar {
  height: $app-bar-height;
}

.drawer {
  width: 150px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.drawer-paper {
  width: 150px;
}

.avatar {
  height: 110px;
  width: 100px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  margin-top: 20px;
}

.logo-home {
  margin: 0 auto;
}

.drawer__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.selection-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.selection-popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.selection-popup-paper {
  text-align: center;
  background-color: $white-color;
  border-radius: $light-rounded-border-radius;
  -webkit-box-shadow: $button-box-shadow;
  box-shadow: $button-box-shadow;
  padding: 5%;
  margin: 3%;

  h3 {
    margin: 0 0 5%;
  }
}

.selection-buttons-container__yes-button, .selection-buttons-container__no-button {
  @include violet-button;
  font-size: 16px;
  width: 130px;
  height: 45px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}
