@import "./../../vars";

.content {
  flex-grow: 1;
  //margin-right: 2%;
  //margin-left: 2%;
  margin: 2%;
}

.toolbar {

}

//toolbar: theme.mixins.toolbar,
//root: {},
//details: {
//  display: 'flex'
//}

.avatar {
  height: 110px;
  width: 100px;
  flex-shrink: 0;
  flex-grow: 0;
}

.name-surname {
  padding-left :15px;
  font-family: $medium-font-family;
}

.button-property {
  position: absolute;
  top: 50%;
}

//.ui-progress {
//  position: fixed;
//  z-index: 1000;
//  height: 31px;
//  width: 31px;
//  left: 50%;
//  top: 35%;
//}

.progress {
  position: absolute;
}

.upload-button {
  margin-left: 8px;
  //margin: theme.spacing(1)
}

.custom-error {
  color: red;
  font-size: 0.8rem;
  margin-top: 10px;
}

.submit-button {
  margin-top: 10px;
}

.card {
  box-shadow: $button-box-shadow;
}

.save-details-button {
  @include violet-button;
  font-size: 18px;
  width: 130px;
  height: 40px;
  margin: 20px;
}