.content {
  flex-grow: 1;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  z-index: 1001;
  color: #8613E0;
}

.icon {
  color: #8613E0;
}

.icon-active {
  color: #FF7A00;
}

.icon-gray {
  color: #D9D9D9;
}

.avatar {
  height: 110px;
  width: 100px;
  flex-shrink: 0;
  flex-grow: 0;
}

.name-surname {
  overflow-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  word-wrap: break-word;
  -moz-hyphens: auto;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  padding-left: 15px;
  font-family: "Geometria Medium", sans-serif;
}

.button-property {
  position: absolute;
  top: 50%;
}

.progress {
  position: absolute;
}

.upload-and-delete-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-image-button, .delete-image-button {
  font-size: 14px;
  width: 120px;
  height: 40px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 20px;
}
.upload-image-button, .delete-image-button {
  font-family: "Geometria Medium", sans-serif;
  border-radius: 50px;
  border: none;
  box-shadow: 4px 8px 8px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 4px 8px 8px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 4px 8px 8px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: #FFFFFF;
  background-color: #8613E0;
  transition: background-color 0.5s ease;
}
.upload-image-button:hover, .delete-image-button:hover {
  background-color: #FF7A00;
}
.upload-image-button:disabled, .delete-image-button:disabled {
  background-color: rgb(204, 184, 219);
  cursor: default;
}

.delete-image-button {
  background-color: #d26d6d;
}

.input-file-style-container {
  display: flex;
}

input[type=file]::-webkit-file-upload-button {
  background-color: transparent;
  color: #252525;
  border: 0;
  border-right: 1px solid #e5e5e5;
  padding: 10px 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-right: 20px;
}

input[type=file]::file-selector-button {
  background-color: transparent;
  color: #252525;
  border: 0;
  border-right: 1px solid #e5e5e5;
  padding: 10px 15px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  margin-right: 20px;
}

input[type=file]::-webkit-file-upload-button:hover {
  background-color: #D9D9D9;
  border: 0;
  border-right: 1px solid #e5e5e5;
}

input[type=file]::file-selector-button:hover {
  background-color: #D9D9D9;
  border: 0;
  border-right: 1px solid #e5e5e5;
}

.custom-error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 15px;
}

.submit-button {
  margin-top: 10px;
}

.card {
  box-shadow: 4px 8px 8px 0 rgba(0, 0, 0, 0.1);
}

.save-details-button, .delete-account-button {
  font-size: 16px;
  width: 130px;
  height: 45px;
  margin: 20px;
}
.save-details-button, .delete-account-button {
  font-family: "Geometria Medium", sans-serif;
  border-radius: 50px;
  border: none;
  box-shadow: 4px 8px 8px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 4px 8px 8px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 4px 8px 8px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: #FFFFFF;
  background-color: #8613E0;
  transition: background-color 0.5s ease;
}
.save-details-button:hover, .delete-account-button:hover {
  background-color: #FF7A00;
}
.save-details-button:disabled, .delete-account-button:disabled {
  background-color: rgb(204, 184, 219);
  cursor: default;
}

.delete-account-button {
  background-color: #d26d6d;
}

.box {
  margin-left: 2%;
}

/*# sourceMappingURL=Account.css.map */
