@import "./../../vars";

.avatar {
  height: 110px;
  width: 100px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.name-surname {
  overflow-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  word-wrap: break-word;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;

  padding-left: 15px;
  font-family: $medium-font-family;
}

.button-property {
  position: absolute;
  top: 50%;
}

.progress {
  position: absolute;
}

.upload-and-delete-image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.upload-image-button {
  @include violet-button;
  font-size: 14px;
  width: 120px;
  height: 40px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 20px;
}

.delete-image-button {
  @extend .upload-image-button;
  background-color: $red-color;
}

.input-file-style-container {
  display: flex;
}

input[type=file]::-webkit-file-upload-button {
  background-color: transparent;
  color: $black-color;
  border: 0;
  border-right: 1px solid #e5e5e5;
  padding: 10px 15px;
  -webkit-transition: .5s;
  transition: .5s;
  margin-right: 20px;
}

input[type=file]::file-selector-button {
  background-color: transparent;
  color: $black-color;
  border: 0;
  border-right: 1px solid #e5e5e5;
  padding: 10px 15px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  margin-right: 20px;
}

input[type=file]::-webkit-file-upload-button:hover {
  background-color: $gray-text-color;
  border: 0;
  border-right: 1px solid #e5e5e5;
}

input[type=file]::file-selector-button:hover {
  background-color: $gray-text-color;
  border: 0;
  border-right: 1px solid #e5e5e5;
}

.custom-error {
  color: $red-color;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 15px;
}

.submit-button {
  margin-top: 10px;
}

.card {
  -webkit-box-shadow: $button-box-shadow;
  box-shadow: $button-box-shadow;
}

.save-details-button {
  @include violet-button;
  font-size: 16px;
  width: 130px;
  height: 45px;
  margin: 20px;
}

.delete-account-button {
  @extend .save-details-button;
  background-color: $red-color;
}
