@import "./../../vars";

.floating-button {
  position: fixed;
  bottom: 0;
  right: 0;
}

.title {
  //margin-left: theme.spacing(2);
  flex: 1;
}

.submit-button {
  display: block;
  color: white;
  text-align: center;
  position: absolute;
  top: 14px;
  right: 10px;
}

.form {
  width: 98%;
  //margin-left: 13px;
  //marginTop: theme.spacing(3)
}

//TODO: media-queries
.root {
  min-width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  //min-width: 50%;
}

.pos {
  margin-bottom: 12px;
}

.dialog-style {
  .MuiDialog-paperFullWidth {
    max-width: 50%;
  }
}

.close-button {
  position: absolute;
  color: $gray-text-color;
}

.app-bar {
  position: relative;
}
