// colors

$orange-color: #FF7A00;
$violet-color: #8613E0;
$black-color: #252525;
$white-color: #FFFFFF;
$light-violet-color: rgb(204, 184, 219);

// buttons
$violet-border: 2px solid $violet-color;
$button-box-shadow: 4px 8px 8px 0 rgba(0, 0, 0, 0.1);

// fonts


// others
$transition: background-color 0.5s ease;